body{
margin: 0;
background: url(./../../styles/img/body.gif) repeat;
}
header{
width: 100%;
height: 70px;
background: white;
border-bottom: 1px dashed grey;
}
#wrapper{
width:950px;
margin: 0 auto;
-moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;

}
#menu{
width:950px;
height:50px;
background:#ccc;
position:relative;
margin-top: -1.7%;
border-bottom: 1px dashed grey;
background:url(./../../styles/img/backgroundMenu.png) no-repeat;
}
#menu ul.elementMenu{
list-style:none;
}
#menu ul.elementMenu li{
float:left;
font-size:12px;
text-transform: uppercase; 
padding: 10px;
margin-right: 3%;
transition: background 2s;
-webkit-transition: background 2s;
border-radius: 5px;
text-decoration:none;
margin-top: 1%;
}
#menu ul.elementMenu li a{
font-family: Arial;
text-decoration:none;
color: #222;
text-shadow: 0px 2px 3px #555;
}
#menu ul.elementMenu div li:hover{
background:grey;
}
#menu ul.elementMenu li form{
margin-top: -4%;
}
#menu ul.elementMenu li form input{
border-radius:10px;
border:none;
padding:5px;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
font-style: italic;
background: #d5d5d5;
}
#menuSocial{
width:203px;
float:right;
background:#ccc;
height: 50px;
border-left: 1px solid black;
background:url(./../../styles/img/backSocial.png) no-repeat;
}
#menuSocial ul{
list-style:none;
}
#menuSocial li img{
float:left;
margin-right: 8%;
background: #8a8a8a;
padding:6px;
border-radius: 15px;
}
#menuSocial li img:hover{
background: #12afd6;
}
#importantNews{
position: relative;
width:950px;
height:370px;
margin: 0 auto;
padding-bottom: 1%;
padding-top: 1%;
background: url(./../../styles/img/backgroundColumns.png) repeat;
}
#slider {
position:absolute !important;
margin-top: 10px;
margin-left: 5%;
width:850px;
height:350px;
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5), 0px 0px 20px rgba(0,0,0,.2);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5), 0px 0px 20px rgba(0,0,0,.2);
box-shadow: 0px 0px 5px rgba(0,0,0,.5), 0px 0px 20px rgba(0,0,0,.2);
background: white;
}
#course{
position:relative;
width: 950px;
height: 315px;
background: url(./../../styles/img/backgroundCourse.png) repeat;
display:inline-block;
margin: 0 auto;
border-bottom: 1px dashed grey;
}
#course:hover .titleCourse{
color:#99303c;
}
#contentNews{
position:relative;
width: 950px;
height: 650px;
background: white;
margin: 0 auto;
}
#contentNews a{
text-decoration: none;
}
#contentNews img{
margin-top: 0px;
}
#contentNews p.titleNew{
margin-top: 0px;
text-align:center;
font-family: times, Times New Roman, times-roman, georgia, serif;
font-size: 28px;
line-height: 40px;
letter-spacing: -1px;
color: #444;
text-transform: uppercase;
margin-bottom: 0px;
}
#contentNews p.titleNew a{
color: #444;
}
#contentNews p.titleNew a:hover{
color: #B82121;
}
#contentNews p.content{
margin-top: 0px;
text-align:justify;
font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
font-size: 12px;
margin-top: .5em; 
color: #666;
}
#contentNews p.content:first-letter{
font-size:200%;
color:#575454;
margin-left: 7%;
}
#contentNews .readMore{
text-align: right;
font-style: oblique;
}
#contentNews .readMore a{
color:#444;
}
#contentNews .readMore a:hover{
color: #B82121;
}
#sliderImages{
position:relative;
width: 950px;
height: 265px;
background: url(./../../styles/img/backgroundColumns.png) repeat;
border-top: 1px dashed grey;
}
#sliderImages img{
border:1px dashed #ccc; 
padding:2px; 
background:#eee; 
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}
#sliderImages img:hover{
opacity: 0.9;
}
#sliderImages .image1{
position:absolute;
left: 5%;
top: 8%;
width: 162px;
height: 205px;
}
#sliderImages .image1 .content1{
position:absolute;
left: 1.8%;
bottom: -1%;
width: 162px;
height: 40px;
background: black;
opacity: 0;
transition: 2s;
-webkit-transition: 2s;
}
#sliderImages .image1 .content1 div{
padding: 8px;
margin-left: 6px;
}
#sliderImages .image1:hover .content1{
opacity: 0.7;
color:white;
}
#sliderImages .image2{
position:absolute;
left: 27%;
top: 8%;
width: 162px;
height: 205px;
background: black;
}
#sliderImages .image2 .content2{
position:absolute;
left: 1.8%;
bottom: -1%;
width: 162px;
height: 40px;
background: black;
opacity: 0;
transition: 2s;
-webkit-transition: 2s;
}
#sliderImages .image2 .content2 div{
padding: 8px;
margin-left: 17px;
}
#sliderImages .image2:hover .content2{
opacity: 0.7;
color:white;
}
#sliderImages .image3{
position:absolute;
left: 49%;
top: 8%;
width: 162px;
height: 205px;
background: black;
}
#sliderImages .image3 .content3{
position:absolute;
left: 1.8%;
bottom: -1%;
width: 162px;
height: 40px;
background: black;
opacity: 0;
transition: 2s;
-webkit-transition: 2s;
}
#sliderImages .image3 .content3 div{
padding: 8px;
margin-left: 8px;
}
#sliderImages .image3:hover .content3{
opacity: 0.7;
color:white;
}
#videos{
position: absolute;
left: 71%;
top:8%;
height: 205px;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}
#footer{
position:relative;
width:950px;
height: 100px;
overflow:hidden;
background: #f8f8f8;
border-top: 1px dashed grey;
}
#new{
padding:10px;
background:white;
}
#new p.newSubtitle1{
margin-left: 120px;
font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
font-size: 14px;
margin-top: 15px; 
color: #666;
}
#new p.newSubtitle1 img{
padding:6px;
float:left;
}
#new p.newSubtitle2{
margin-left: 120px;
margin-right: 120px;
font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
font-size: 14px;
margin-top: 15px; 
color: #666;
}
#new p.newSubtitle2 img{
padding:6px;
float:left;
}
#new p.newTitle{
text-align:center;
font-family: times, Times New Roman, times-roman, georgia, serif;
font-size: 48px;
line-height: 40px;
letter-spacing: -1px;
color: #444;
margin: 0 0 0 0;
margin-top: 10px;
padding: 0 0 0 0;
font-weight: 100;
}
#new .newLargeImg{
margin-left: 85px;
border: 1px solid black;
}
#new p.legend{
width:735px;
background:#222222;
margin:0 0 0 0;
margin-left: 85px;
margin-top: -5px;
padding: 10px;
color: #bbbbbb;
font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
font-size: 13px;
}
#new p.newData{
text-align:center;
}
#new p.newData span.newAuthor{
color:grey;
text-transform: uppercase;
font-size: 11px;
font-family:Arial;
font-style: italic;
}
#new p.newData span.newDate{
color:grey;
font-size: 11px;
font-family:Arial;
font-weight: bold;
}
#new p.newData span.newSocial{
color:grey;
font-size: 11px;
font-family:Arial;
}
#new p.newData span.newOption{
color:grey;
font-size: 11px;
font-family:Arial;
}
#new p.newContent{
margin-left:3%;
margin-right:3%;
text-align:justify;
font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
font-size: 12px;
}
#new p.newContent:first-letter{
font-size: 21px;
margin-left:3%;
}
#new p.iesOrotava{
text-align:right;
margin-right:3%;
color:grey;
font-size: 12px;
font-family:Arial;
font-style: italic;
}
ul.tabs {
 margin: 0;
 padding: 0;
 float: left;
 list-style: none;
 height: 32px;
 border-bottom: 1px solid #999;
 border-left: 1px solid #999;
 width: 100%;
}
ul.tabs li {
 float: left;
 margin: 0;
 padding: 0;
 height: 31px;
 line-height: 31px;
 border: 1px solid #999;
 border-left: none;
 margin-bottom: -1px;
 overflow: hidden;
 position: relative;
 background: #e0e0e0;
}
ul.tabs li a {
 text-decoration: none;
 color: #000;
 display: block;
 font-size: 10px;
 padding: 0 17px;
 border: 1px solid #fff;
 outline: none;
}
ul.tabs li a:hover {
 background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
 background: #fff;
 border-bottom: 1px solid #fff;
}
.tab_container {
 border: 1px solid #999;
 border-top: none;
 overflow: hidden;
 clear: both;
 float: left; width: 100%;
 background: #fff;
}
.tab_content {
 padding: 20px;
 font-size: 1.2em;
}
.logo{
margin-top: 0.3%;
margin-left: 2%;
}
.organism{
float:right;
margin-right: 3%;
}
.organism a{
text-decoration: none;
color:grey;
font-family:Arial;
font-size:10px;
text-transform:uppercase;
}
.organism a:hover{
border-bottom:1px dashed grey;
}
.organism ul{
list-style:none;
}
.organism li{
float:left;
position:relative;
padding:5px 30px;
padding-right: 30px;
}
.organism li.canaryEducation{
background:url(./../../styles/img/canary.png) no-repeat left center;
background-position:0px 0px;
}
.organism li:hover.canaryEducation{
background:url(./../../styles/img/canary.png) no-repeat left center;
background-position:0px -30px;
}
.organism li.spainEducation{
background:url(./../../styles/img/spain.png) no-repeat left center;
background-position:0px 0px;
}
.organism li:hover.spainEducation{
background:url(./../../styles/img/spain.png) no-repeat left center;
background-position:0px -30px;
}
.organism li.europeEducation{
background:url(./../../styles/img/europe.png) no-repeat left center;
background-position:0px 0px;
}
.organism li:hover.europeEducation{
background:url(./../../styles/img/europe.png) no-repeat left center;
background-position:0px -30px;
}
.arrowLeft{
position:absolute;
top:38%;
left:19.3%;
}
.arrowRight{
position:absolute;
top:38%;
right:21.3%;
}
.titleCourse{
text-align:center;
top: 0px;
font-family: times, Times New Roman, times-roman, georgia, serif;
font-size: 40px;
line-height: 40px;
letter-spacing: -1px;
color: #222;
margin: 0 0 0 0;
padding: 0 0 0 0;
font-weight: 100;
text-shadow: 0px 2px 3px #555;
transition: color 0.5s linear;
-webkit-transition: color 1s;
}
.primerCurso{
position: absolute;
width: 120px;
height:33px;
left: 14.2%;
padding: 5px;
background: black;
box-shadow: 0 0 5px #888;
border-radius: 10px;
transition: background 0.5s linear;
-webkit-transition: background 1s;
}
.primeroEso{
background: url(./../../styles/img/pencil.png) no-repeat;
padding-left: 30px;
padding-top: 8px;
margin-left: 18px;
}
.primeroEso a{
text-decoration:none;
font-weight: bold;
color: #fff;
font-family: Arial;
text-transform: uppercase;
font-size: 13px;
text-shadow: 1px 1px 1px #666;
}

.primeroEso a:hover{
color:white;
}

.primerCurso:hover{  
background: #5f5f5f;
}
.segundoCurso{
width: 120px;
height:33px;
left: 44.2%;
position:absolute;
padding: 5px;
background: black;
box-shadow: 0 0 5px #888;
border-radius: 10px;
transition: background 0.5s linear;
-webkit-transition: background 1s;
}

.segundoEso{
background: url(../img/pencil.png) no-repeat left center;
padding-left: 30px;
padding-top: 8px;
margin-left: 18px;
}

.segundoEso a{
text-decoration:none;
font-weight: bold;
color: #fff;
font-family: Arial;
text-transform: uppercase;
font-size: 13px;
text-shadow: 1px 1px 1px #666;
}

.segundoEso a:hover{
color:white;
}

.segundoCurso:hover{  
background: #5f5f5f;
}

.segundoCurso:hover a{  
color:white;
}

.tercerCurso{
position:absolute;
width: 120px;
height:33px;
left: 72.2%;
padding: 5px;
background: black;
box-shadow: 0 0 5px #888;
border-radius: 10px;
transition: background 0.5s linear;
-webkit-transition: background 1s;
}

.terceroEso{
background: url(../img/pencil.png) no-repeat left center;
padding-left: 30px;
padding-top: 8px;
margin-left: 18px;
}

.terceroEso a{
text-decoration:none;
font-weight: bold;
color: #fff;
font-family: Arial;
text-transform: uppercase;
font-size: 13px;
text-shadow: 1px 1px 1px #666;
}

.terceroEso a:hover{
color:white;
}

.tercerCurso:hover{  
background: #5f5f5f;
}

.tercerCurso:hover a{  
color:white;
}
.cuartoCurso{
position: absolute;
width: 120px;
height:33px;
top: 68.4%;
left: 14.2%;
padding: 5px;
background: black;
box-shadow: 0 0 5px #888;
border-radius: 10px;
transition: background 0.5s linear;
-webkit-transition: background 1s;
}
.cuartoEso{
background: url(./../../styles/img/pencil.png) no-repeat;
padding-left: 30px;
padding-top: 8px;
margin-left: 18px;
}
.cuartoEso a{
text-decoration:none;
font-weight: bold;
color: #fff;
font-family: Arial;
text-transform: uppercase;
font-size: 13px;
text-shadow: 1px 1px 1px #666;
}

.cuartoEso a:hover{
color:white;
}

.cuartoCurso:hover{  
background: #5f5f5f;
}
.quintoCurso{
width: 120px;
height:33px;
top: 68.4%;
left: 44.2%;
position:absolute;
padding: 5px;
background: black;
box-shadow: 0 0 5px #888;
border-radius: 10px;
transition: background 1s;
-webkit-transition: background 1s;
}

.quintoEso{
background: url(../img/pencil.png) no-repeat left center;
padding-left: 30px;
padding-top: 8px;
margin-left: 18px;
}

.quintoEso a{
text-decoration:none;
font-weight: bold;
color: #fff;
font-family: Arial;
text-transform: uppercase;
font-size: 13px;
text-shadow: 1px 1px 1px #666;
}

.quintoEso a:hover{
color:white;
}

.quintoCurso:hover{  
background: #5f5f5f;
}

.quintoCurso:hover a{  
color:white;
}

.sextoCurso{
position:absolute;
width: 120px;
height:33px;
top: 68.4%;
left: 72.2%;
padding: 5px;
background: black;
box-shadow: 0 0 5px #888;
border-radius: 10px;
transition: background 0.5s linear;
-webkit-transition: background 1s;
}

.sextoEso{
background: url(../img/pencil.png) no-repeat left center;
padding-left: 30px;
padding-top: 8px;
margin-left: 18px;
}

.sextoEso a{
text-decoration:none;
font-weight: bold;
color: #fff;
font-family: Arial;
text-transform: uppercase;
font-size: 13px;
text-shadow: 1px 1px 1px #666;
}

.sextoEso a:hover{
color:white;
}

.sextoCurso:hover{  
background: #5f5f5f;
}

.sextoCurso:hover a{  
color:white;
}
.new1{
position:absolute;
top: 5%;
left:5%;
width: 250px;
height: 270px;
overflow:hidden;
border-right: 1px dashed grey;
padding-right: 25px;
}
.new2{
position:absolute;
top: 5%;
left: 37%;
width: 250px;
height: 270px;
overflow:hidden;
border-right: 1px dashed grey;
padding-right: 25px;
}
.new3{
position:absolute;
top: 5%;
right:5%;
width: 250px;
height: 270px;
overflow:hidden;
}
.new4{
position:absolute;
top: 50%;
left:5%;
width: 250px;
height: 270px;
overflow:hidden;
border-right: 1px dashed grey;
padding-right: 25px;
}
.new5{
position:absolute;
top: 50%;
left: 37%;
width: 250px;
height: 270px;
overflow:hidden;
border-right: 1px dashed grey;
padding-right: 25px;
}
.new6{
position:absolute;
top: 50%;
right:5%;
width: 250px;
height: 270px;
overflow:hidden;
}
.nivoSlider img {
position:absolute;
top:0;
left:0;
display:none;
}
.nivoSlider a {
border:0;
display:block;
z-index: 15;
}
.nivo-slice {
display:block;
position:absolute;
z-index:5;
height:100%;
}
.nivo-box {
display:block;
position:absolute;
z-index:5;
}
.nivo-caption {
position:absolute;
left:45px;
bottom:29px;
width:750px;
padding-top:13px;
padding-bottom:13px;
z-index:8;
border:1px solid #000;
border-left-color:rgba(0,0,0,.5);
border-right-color:rgba(0,0,0,.5);
-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.15), 0px 1px 3px rgba(0,0,0,.7);
-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.15), 0px 1px 3px rgba(0,0,0,.7);
box-shadow: inset 0px 1px 0px rgba(255,255,255,.15), 0px 1px 3px rgba(0,0,0,.7);
background: -webkit-linear-gradient(top, rgba(72,73,76,0.9) 0%,rgba(57,58,60,0.9) 50%,rgba(50,51,53,0.9) 51%,rgba(38,39,40,0.9) 100%);
background: -moz-linear-gradient(top, rgba(72,73,76,0.9) 0%,rgba(57,58,60,0.9) 50%,rgba(50,51,53,0.9) 51%,rgba(38,39,40,0.9) 100%);
background: -o-linear-gradient(top, rgba(72,73,76,0.9) 0%,rgba(57,58,60,0.9) 50%,rgba(50,51,53,0.9) 51%,rgba(38,39,40,0.9) 100%);
background: -ms-linear-gradient(top, rgba(72,73,76,0.9) 0%,rgba(57,58,60,0.9) 50%,rgba(50,51,53,0.9) 51%,rgba(38,39,40,0.9) 100%);
background: linear-gradient(top, rgba(72,73,76,0.9) 0%,rgba(57,58,60,0.9) 50%,rgba(50,51,53,0.9) 51%,rgba(38,39,40,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e648494c', endColorstr='#e6262728',GradientType=0 );
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}
.nivo-caption p {
margin:0;
font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size:14px;
font-weight:bold;
color:#fff;
text-align:center;
text-shadow:0px -1px 0px #000;
}
.nivo-caption a {
display:inline !important;
}
.nivo-html-caption {
display:none;
}
.nivo-directionNav a {
position:absolute;
bottom:30px;
z-index:9;
cursor:pointer;
text-indent:-9999px;
width:45px;
height:39px;
background-image:url(./../../styles/img/arrows.png);
background-repeat:no-repeat;
}
.nivo-prevNav {
left:75px;
background-position:0 0;
box-shadow: 1px 0px 0px rgba(255,255,255,.2), 2px 0px 0px rgba(0,0,0,.4);
}
.nivo-nextNav {
right:77px;
background-position:-45px 0px;
box-shadow: -1px 0px 0px rgba(255,255,255,.2), -2px 0px 0px rgba(0,0,0,.4);
}
.copyright{
position:absolute;
width: 475px;
height:100px;
padding: 1.5%;
background: #f8f8f8;
border-right: 1px dashed grey;
}
.copyright p.ies{
padding-top:3%;
}
.copyright p.author{
padding-bottom:1%;
}
.copyright p.information{
border-top:1px solid black;
padding-top:1.5%;
margin-left: 13%;
}
.copyright p{
margin-top:-1.5%;
font-size: 12px;
font-family: Arial;
}
.imgCopyright{
float: left;
margin: 1.5%;
}
.howThere{
position:absolute;
left:520px;
height:100px;
width:400px;
background:#f8f8f8;
padding-top:1%;
}
#styleCourse p.teacher{
text-align:center;
font-family: times, Times New Roman, times-roman, georgia, serif;
font-size: 48px;
line-height: 40px;
letter-spacing: -1px;
color: #444;
margin: 0 0 0 0;
margin-top: 10px;
padding: 0 0 0 0;
font-weight: 100;
padding-top:35px;
}
#styleCourse p.student{
text-align:center;
font-family: times, Times New Roman, times-roman, georgia, serif;
font-size: 48px;
line-height: 40px;
letter-spacing: -1px;
color: #444;
margin: 0 0 0 0;
margin-top: 10px;
padding: 0 0 0 0;
font-weight: 100;
}
#styleCourse table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
#styleCourse table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
#styleCourse table a:active,
#styleCourse table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
#styleCourse table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
	margin-top: 50px;
	margin-bottom: 50px;
}
#styleCourse table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
#styleCourse table th:first-child {
	text-align: left;
	width: 50px;
}
#styleCourse table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
#styleCourse table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
#styleCourse table tr {
	text-align: center;
	padding-left:20px;
}
#styleCourse table td:first-child {
	text-align: left;
	width:50px;
	height:50px;
	border-left: 0;
}
#styleCourse table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
#styleCourse table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
#styleCourse table tr:last-child td {
	border-bottom:0;
}
#styleCourse table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
#styleCourse table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
#styleCourse table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
#aboutUs p.aboutUsTitle{
text-align:center;
font-family: times, Times New Roman, times-roman, georgia, serif;
font-size: 48px;
line-height: 40px;
letter-spacing: -1px;
color: #444;
margin: 0 0 0 0;
margin-top: 10px;
padding: 0 0 0 0;
font-weight: 100;
margin-top:25px;
}
#aboutUs .aboutLargeImg{
margin-top: 20px;
margin-left: 275px;
border: 1px solid black;
}
#aboutUs  p.aboutUsContent{
margin-left:3%;
margin-right:3%;
text-align:justify;
font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
font-size: 12px;
}
#aboutUs p.aboutUs:first-letter{
font-size: 21px;
margin-left:3%;
}
#aboutUs p.iesOrotava{
text-align:right;
margin-right:3%;
color:grey;
font-size: 12px;
font-family:Arial;
font-style: italic;
}
#thisIn{
padding:10px;
font-size:11px;
font-family:Arial;
border-bottom:1px solid #dfdfdf;
}
#thisIn a{
text-decoration:none;
color:grey;
}
#thisIn a:hover{
border-bottom: 1px dotted black;
}
#thisIn  img{
float:left;
padding:5px;
}